<header>
  <nav class="logo__navbar"> <img src="./../../assets/shopeame logo.jpg" alt=""> </nav>
  <div class="menu__container">
   <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <img class="header__icon" src="./../../assets/prods-icon.jpg" alt=""></a>

   <a routerLink="/main-products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <img   class="header__icon" src="./../../assets/home-icon.jpg" alt=""></a>

    <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" > <img  class="header__icon" src="./../../assets/gestion-icon.jpg" alt=""></a>
  </div>
</header>
