footer{
  background-color: #333;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-weight: 300;
  height: 40vh;

  .folow__us{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
  }


  .footer-thelast__contain{
    margin-top: 20px;
    color: #fff;
  }

  .anchor__text{
    color: #fff;
  }


  .b-RRSS{
    color: #fff;
    margin-top: 30px;
    font-weight: 700;
    font-style:inherit ;

  }


  .b-copyrighgt__text{
    color: #fff;
    margin-top: 100px;
  }
}

