<main>
  <div class="main__contain">
  <h1 class="b-title">Bienvenido a shopeame</h1>

    <div class="about__container">
      <h4 class="b-secondary__title">¿Qué es Shopéame?</h4>
      <p class="About_us"><br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, cumque laborum nihil perferendis  minus quam suscipit, aperiam minima quia veniam porro. Neque tenetur dolore doloribus enim. Velit, autem odio! Cum?</p>
  </div>
  <div class="whatfor__container">
      <h4 class="b-secondary__title">¿Para qué puedo utilizar Shopéame?</h4>
      <p class="about_us"><br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, cumque laborum nihil perferendis minus quam suscipit, aperiam minima quia veniam porro. Neque tenetur dolore doloribus enim. Velit, autem odio! Cum?</p>
  </div>
    <div>
      <h4 class="b-secondary__title">¿Qué hacemos en Shopéame?</h4>
      <p class="whowedo__container"><br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, cumque laborum nihil perferendis minus quam suscipit, aperiam minima quia veniam porro. Neque tenetur dolore doloribus enim. Velit, autem odio! Cum?</p>
  </div>
    <div>
      <h4 class="b-secondary__title">¿Es Seguro usar Shopéame?</h4>
      <p class="areyousure__container"><br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, cumque laborum nihil perferendis minus quam suscipit, aperiam minima quia veniam porro. Neque tenetur dolore doloribus enim. Velit, autem odio! Cum?</p>
    </div>
  </div>
</main>
