button{

display: flex;


  box-sizing: border-box;
  background-color: #F89F21;
  color: rgba(255, 255, 255, 0.921);
  padding: 8px 40px;
  outline: none;
  border: none;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 60px;
  border-radius: 5px;


left: 0px;
right: 0px;
top: 0px;
bottom: 0px;


}


button:hover{
  transition: 0,9s;
  color: #fff;
  font-weight: 700;
  background-color: #333333;
}

