

  <main>

    <div class="form__container">
      <h2>Creación/edición de productos</h2>
      <p>Nombre del producto</p>
      <input [formGroup]="" class="input__form" placeholder ="por ej: Tiesto para la planta" type="text">

      <p>Precio:</p>
      <input class="input__form" placeholder ="por ej: 4,28$" type="text">

      <p>Descripción</p>
      <input class="input__form" placeholder ="por ej: Lo mas vendido este mes" type="text">

      <p>Ruta de la imagen</p>
      <input class="input__form" placeholder ="por ej: URL://laimagenmasfeadelmundo.webp" type="text">

      <p>Opiniones</p>
      <input class="input__form" placeholder ="por ej:4:28" type="text">

      <app-post-button class="edit__button"></app-post-button>
    </div>
    <div class="product-preview__conatainer">
      <p>Preview del producto</p>

    </div>
  </main>
